.App {
  text-align: center;
  display: flex;
  background: rgb(39, 137, 202);
  justify-content: space-around;
}

.nav-link {
  list-style: none;
  text-decoration: none;
  display: flex;
}


.nav-link li {
  margin-left: 15px
}

.nav-link li a{
  text-decoration: none;
}